.postUsernameLink {
  color: inherit;
  text-decoration: none;
}

.postUsernameLink:hover {
  text-decoration: underline;
}

.post {
  border-radius: 0;
}

.post+.post {
  border-top: 0 !important;
}

.post:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.post:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}